<div class="wrapper wrapper-content animated fadeInRight" ng-controller="MainCtrl">
    <div class="row">
        <div class="col-lg-12"><br><br><br></div>
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    欢迎来到{{AppConfig.name}}
                </h1>
                <small>
                    {{AppConfig.version}}
                </small>
            </div>
        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-8">
            <div class="text-left m-t-lg">
                帮助：<br>
                &nbsp;&nbsp;&nbsp;&nbsp;一个用户可以有多个【机器组】的权限；<br>
                &nbsp;&nbsp;&nbsp;&nbsp;一个机器组包含多部【机器】；<br>
            </div>
        </div>
    </div>
</div>
